NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SITE_CONFIG_ID=1
DATABASE_URL=
DATABASE_URL_STAGING=
DATABASE_URL_PROD=
NEXT_PUBLIC_ANALYTICS_PROVIDER=
NEXT_PUBLIC_ANALYTICS_SCRIPT_URL=
NEXT_PUBLIC_ANALYTICS_SITE_ID=
NEXT_PUBLIC_ANALYTICS_DOMAIN=
SUPABASE_SERVICE_ROLE_KEY=

SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=

BANK_ACCOUNT=
INVOICE_EMAIL=

PUPEN_FIO_WEBHOOK_SECRET=
